:root{
    --blue: #002CA3;
    --red: #E11000;
    --blackblue: #031854;
}

@font-face{
    font-family: 'Nasa';
    src: url('./fonts/nasalization/nasalization-rg.otf');
}

@font-face{
    font-family: 'Nexa';
    src: url('./fonts/Nexa/Nexa-Heavy.ttf');
}

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 200px;
    background-color: black;
}

main article{
    float: left;
    width: 60%;
    height: 500px;
    background-color: var(--blue);
}

main aside{
    float: left;
    width: 40%;
    height: 500px;
    background-color: var(--blackblue);
}

footer{
    display: block;
    float: left;
    width: 100%;
    height: 100px;
    background-color: var(--red);
}